form {
  width: 400px;
  margin: 40px auto;
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 5px;
  input,
  select,
  textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    font-family: "Arial", sans-serif;
  }
  text-area {
    height: 100px;
  }
  input[type="submit"] {
    background-color: #ff9a00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    margin: 20px auto;
    border-radius: 5px;
    position: relative;
    &:hover {
      background-color: #ff7a00;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}
